<html>
<head>
  <title>VStats web server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
  <script src="/static/jquery-1.11.3.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <style>
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
  body > .container {
    padding: 0 15px 0;
  }
  #creditsText {
    margin: 20px 0;
  }
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  </style>
  <script>
    $(document).ready(function(){
      update();
    });

    function update() {
      $.get("/getTime", callback);
    }

    function callback(data) {
      $("#time").text(data);
      setTimeout(update, 300);
    }
  </script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1 style="color: blue;">VStats Web Server</h1>
    </div>
    <h3>Select a skin to start!</h3>
  </div>
  <div class="container" id="skins">
    <ul class="btn-group-vertical col-xs-12">
      {{ range $key, $value := . }}
      <a type="button" class="btn btn-default btn-lg btn-block" href='/skins/{{ $key }}/'>{{ $key }}</a>
      {{ end }}
    </ul>
  </div>
  <br>
  <div class="container" id="stats">
    <p>Last message received from the game: <spam id="time"></spam></p>
  </div>
  <footer class="footer">
    <div class="container">
      <p id="creditsText"><em>Created by libertylocked. All rights reserved.</em> Skins are owned by their respective authors. <a href="https://github.com/libertylocked/VStats">View this project on GitHub</a></p>
    </div>
  </footer>
</body>
</html>
