<html>
<head>
  <title>WebScriptHook Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">
  <script src="/static/jquery-1.11.3.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script>
  // Update this on release
  var VERSION="1.01";

  $(document).ready(function(){
    update();
    checkLatest();
    checkExtensionList();
  });
  function update() {
    $.get("/connected", callback);
  }
  function callback(data) {
    if (data == "true") {
      $("#pluginStatus").html('<i class="fa fa-check-circle"></i> Connected');
      $("#pluginStatus").css("color", "green");
    } else {
      $("#pluginStatus").html('<i class="fa fa-exclamation-triangle"></i> Not Connected');
      $("#pluginStatus").css("color", "red");
    }
    setTimeout(update, 500);
  }
  function checkLatest() {
    $.get("https://api.github.com/repos/LibertyLocked/webscripthook/releases/latest",
    function(data) {
      $("#currVer").text(VERSION);
      if (VERSION == data["tag_name"]) {
        $("#remoteVer").text("(Latest)");
      } else {
        $("#remoteVer").html("<a href='" + data["html_url"] + "'><i class='fa fa-arrow-circle-up'></i>Update " + data["tag_name"] + "</a>")
      }
    });
  }
  function checkExtensionList() {
    $("#extensionsTitle").text("Fetching extension list...")
    $("#extensionsList").html("");
    var stringified = JSON.stringify({"Cmd": "extensionlist"});
    $.ajax({
      url: '/input',
      type: 'post',
      dataType: 'json',
      success: null,
      data: stringified,
      timeout: 2000,
      success: function(data) {
        $("#extensionsTitle").html(data.length + " extensions loaded. <a href='#' onclick='checkExtensionList()'><i class='fa fa-refresh'></i></a>");
        for(var i = 0; i < data.length; i++) {
          var name = data[i];
          $("#extensionsList").append("<li class='list-group-item col-md-6'>" + name + "</li>")
          console.log(name);
        }
      },
      error: function() {
        $("#extensionsTitle").html("<span style='color:red'>Failed to fetch extension list. </span><a href='#' onclick='checkExtensionList()'><i class='fa fa-refresh'></i></a>")
      },
    });
  }
  </script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1 style="color: blue">WebScriptHook Server Dashboard</h1>
    </div>
    <h3>Select an app to start!</h3>
  </div>
  <div class="container" id="apps">
    <ul class="btn-group-vertical col-xs-12">
      {{ range $key, $value := . }}
      <a type="button" class="btn btn-default btn-lg btn-block" href='/apps/{{ $key }}/'>{{ $key }}</a>
      {{ end }}
    </ul>
    <p style="text-align: right"><a href="https://github.com/LibertyLocked/webscripthook/wiki/App-repository">Get more apps</a></p>
  </div>
  <br>
  <div class="container" id="stats">
    <p>Plugin status: <span id="pluginStatus"></span></p>
  </div>
  <div class="container">
    <h4 id="extensionsTitle"></h4>
    <ul class="list-group" id="extensionsList">
    </ul>
  </div>
  <div class="container" style="margin-top: 20px">
    <p>Version: <span id="currVer">Checking...</span> <span id="remoteVer"></span></p>
    <p id="creditsText"><em>Created by libertylocked. All rights reserved.</em> Apps are owned by their respective authors. <a href="https://github.com/libertylocked/webscripthook">View this project on GitHub</a></p>
  </div>
</body>
</html>
